@model ClientSearchViewModel

<div class="search-client-forms">
    <div class="client-form">
        <form class="form" method="post" action="@Url.Action("SearchByFio", "ClientSearch")">
            <div class="client-input">
                <label>Фамилия 
                    <input type="text" name="lastname"/>
                </label>
                <label>Имя
                    <input type="text" name="firstname" value=""/>
                </label>
                <label>Отчетство 
                    <input type="text" name="patrname" value="" />
                </label>
                <label>Дата рождения 
                    <input type="date" name="birthdate" value="00.00.0000">
                </label>
            </div>
            <div class="client-button"><button>Найти клиента</button></div>
        </form>
    </div>
    <div class="client-form">
        <form class="form" method="post" action="@Url.Action("SearchById", "ClientSearch")">
            <div class="client-input">
                <label>Номера клиента ID 
                    <input type="number" name="id">
                </label>
            </div>
            <div class="client-button"><button>Найти клиента по ID</button></div>
        </form>
    </div>
    <div class="client-form">
        <form class="form" method="post" action="@Url.Action("SearchByContact", "ClientSearch")">
            <div>
                <label>Email
                    <input type="email" name="email">
                </label>
                <label>Номер телефона
                    <input type="text" name="phone">
                </label>
            </div>
            <div class="client-button"><button>Найти клиента по контактным данным</button></div>
        </form>
    </div>
</div>

<div>
    @if (Model.Clients.Count > 0)
    {
        <p>Количество найденных клиентов: @Model.Clients.Count</p>
        <table>
            <tr class="client-row">
                <th>Номер клиента ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Email</th>
                <th>Телефон</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var c in Model.Clients)
            {
                <tr class="client-row">
                    <td class="t1">@c.ID</td>
                    <td class="t2">@c.LastName</td>
                    <td class="t1">@c.FirstName</td>
                    <td class="t2">@c.PatrName</td>
                    <td class="t1">@c.BirthDate.ToString()</td>
                    <td class="t2">@c.Email</td>
                    <td class="t1">@c.Phone</td>
                    <td class="t2">
                        <a href="~/ClientSearch/Archive?id=@c.ID">Просмотреть историю</a>
                    </td>
                    <td class="t1">
                        <a href="~/ClientSearch/Result?id=@c.ID">Подобрать туры</a>
                    </td>
                </tr>
            }
        </table>
    }

</div>
<style>
    ul{
        list-style-type: none;
        padding:10px;
        text-align:center;
    }
    .client-form{
        display:flex;
        margin: 2px;
        background: #f1f1f1;
    }

    .client-button {
        display: flex;
        justify-content: left;
        padding:10px;
    }
    .client-input{
        padding:10px;
    }
    .client-row th, .client-row td{
        background: #f1f1f1;
        padding: 10px;
        border: 1px black;
    }
    .t1{
        background: #c9c9c9;
    }
    .t2{
        background: #f5f5f5;
    }
</style>