@model ClientSearchViewModel

<div>
    <h1>Индивидуальная подборка туров по истории</h1>
</div>
<div>
    @if (Model != null && Model.Tours != null)
    {
        <p>Количество найденных туров @Model.Tours.Count</p>
        <form method="post">
            <p>
                <label>Отправить подборку</label>
            </p>
            <p>
                <label>На email</label>
                <input type="email" name="email" />
                <button>Отправить подборку на email</button>
            </p>
            <p>@ViewBag.EmailMessage</p>
        </form>
        <table>
            <tr>
                <th>ID тура</th>
                <th>Туроператора</th>
                <th>ID отеля</th>
                <th>Город</th>
                <th>Направление (страна)</th>
                <th>Название тура</th>
                <th>Тип номера</th>
                <th>Тип питания</th>
                <th>Тип размещения</th>
                <th>Дата вылета</th>
                <th>Дата вылета обратно</th>
                <th>Количество ночей</th>
                <th>Количество взрослых</th>
                <th>Количество детей</th>
                <th>Ссылка на тур</th>
                <th>Ссылка на изображение</th>
                <th>Город вылета</th>
                <th>Цена (руб.)</th>
            </tr>
            @foreach (var t in Model.Tours)
            {
                <tr>
                    <td>@t.ID</td>
                    <td>@t.TourOperator.Name</td>
                    <td>@t.Hotel.ID</td>
                    <td>@t.City.Name</td>
                    <td>@t.Country.Name</td>
                    <td>@t.Name</td>
                    <td>@t.Room</td>
                    <td>@t.MealType.Code</td>
                    <td>@t.AccomType.Code</td>
                    <td>@t.DateStart</td>
                    <td>@t.DateFinish</td>
                    <td>@t.NightsCount</td>
                    <td>@t.AdultsCount</td>
                    <td>@t.ChildCount</td>
                    <td><a src="https:/@t.OpLinks">Перейти к бронированию</a></td>
                    <td><img src="@t.ImgLink" /></td>
                    <td>@t.DepCity.Name</td>
                    <td>@t.Price</td>
                </tr>
            }
        </table>
    }
</div>
