@using VKRproject.Models.ViewModels;
@using VKRproject.Tools;
@model SearchViewModel
<div class="bot-form">
    <div id="bot-qr">
        <a href="http://qrcoder.ru/code/?https%3A%2F%2Ft.me%2FVKRprojectQuestionBot&4&0">
            <img src="qr_2.jpg" id="qr-img" border="0" title="QR код">
       </a>
    </div>
    <div id="bot-panel">
        <div class="bot-info">
            <div class="bot-button">
                <button onclick="location.href = '@Url.Action("Start", "Question")'">Открыть анкету</button>
            </div>
            <div class="bot-button">
                <button onclick="location.href = '@Url.Action("Finish", "Question")'">Закрыть анкету</button>
            </div>
        </div>
        <div class="bot-info">
            <div id="bot-url">
                <label>
                    Ссылка на бот: <label>@ViewBag.BotUrl</label>
                </label>
            </div>
            <div id="bot-status">
                @if(ViewBag.Code != null)
                {
                    <ul>
                        <li>Статус анкеты: <label>БОТ АКТИВИРОВАН</label></li>
                        <li>Код активации анкеты: <label>@ViewBag.Code</label></li>
                    </ul>
                }
            </div>
        </div>
        
    </div>
</div>
<div>
    @if (ViewBag.ResultMessage != null)
    {
        <label>@ViewBag.ResultMessage</label>
    }
</div>
<style>
    .bot-form{
        background: #f1f1f1;
        display:flex;
        margin:10px;
        
    }
    #bot-qr{
        width:10%;
        padding:10px;
    }
    #bot-panel{
        width:85%
    }
    .bot-info{
        display:flex;
        padding:10px;
    }
    .bot-button{
        width:50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #qr-img{
        width:130px;
        height:130px;
    }
    #bot-status{
        width:50%;
        display:flex;
        justify-content: right;
    }  
    #bot-url{
        width:50%;
        display:flex;
        justify-content: center;
        vertical-align:central;
    }
    ul {
        list-style-type: none;
    }
</style>
