@model TourOperator;

<h1>Туроператор @Model.Name</h1>

<div>
    <p>@Model.ID</p>
    <p>@Model.Name</p>
    <p>@Model.Inn</p>
    <p>@Model.ContractNum</p>
    <p>@Model.Adress</p>
    <p>@Model.Email</p>
</div>