@model List<ShortTour>

<script>
	function hiddenCloseclick() {
	    let x = document.getElementById('hidden-element');
        if (x.style.display == "none"){
	        x.style.display = "block";
	    } else {
	        x.style.display = "none"}
    };
</script>

<div>Количество найденных туров: @Model.Count</div>
<div id = "send-block">
    <div id="send-button">
        <button id="click-to-hide" onclick="hiddenCloseclick();">Поделиться подборкой</button>
    </div>
    <div id="hidden-element">
        <form>
            <ul class="email">
                <li>
                    <h5>Отправить подборку на email</h5>
                </li>
                <li>
                    <label>Адрес получателя <br /><input type="text" placeholder="example@mail.ru"/></label>
                </li>
                <li>
                    <label>Количество туров в подборке: <br /><input type="number" value="@Model.Count" min="1" /></label>
                </li>
                <li>
                    <label>Тема сообщения: <br /><input type="text" /></label>
                </li>
                <li>
                    <label>Текст описания: <br /><textarea type="text" rows="5" cols="23">Ваша персональная подборка туров</textarea></label>
                </li>
                <li>
                    <button>Отправить подборку на email</button>
                </li>
            </ul>
        </form>
    </div>
</div>
    
<div>
@if(Model != null)
    @if(Model.Count > 0)
    {
        <ul class="tour-list">
            @foreach(var t in Model)
            {
                <li>
                    <div class="tour-element">
                        <div class="tour-img"><img src="@t.ImgLink" width="200" height="150"/></div>
                        <div class="tour-info">
                            <ul class="tour-attributes">
                                <li id="tour-name">@t.Name</li>
                                <li id="tour-hotel">Отель: <a href="~/InfoModel/InfoHotel?id=@t.Hotel.ID">@t.Hotel.Name (@t.Hotel.Category)</a></li>
                                <li id="tour-city">Город: <a href="~/InfoModel/InfoCity?id=@t.City.ID">@t.City.Name</a></li>
                                <li id="tour-date">@t.DateStart - @t.DateFinish</li>
                                <li id="tour-price">от @t.Price руб.</li>
                                <li id="tour-button">
                                    <a href = "~/InfoModel/InfoTour?id=@t.ID">
                                        <input type="submit" value="Описание тура"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div>
            
        </div>
    }

</div>
<style>
    ul {
        list-style-type: none;
    }
    .tour-element{
        display:flex;
        background:#f1f1f1;
        margin:2px;
    }
    .tour-img{
        width:20%;
        
    }  
    .tour-info{
        width:80%;
    }
    .tour-attributes li{
        display:flex;
    }
    #tour-name{
        font-size:18pt;
        font-weight:inherit;
    }
    #tour-hotel{
        font-size:16pt;
    }
    #tour-date{
        font-size:16pt;
    }
    #tour-price{
        font-size:20pt;
        font-weight:bold;
        display:flex;
        justify-content:right;
    }
    #tour-button{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .email li{
        display:flex;
        background: #f1f1f1;
        margin: 2px;
    }
    #hidden-element{
        display: none;
    }
</style>

